/* ==========================================================================
    #WYSIWYG
========================================================================== */

$c-wysiwyg: '.c-wysiwyg';

#{$c-wysiwyg} {

    /* lobotomized-owls*/
    /* https://alistapart.com/article/axiomatic-css-and-lobotomized-owls*/
    /*///////////////////////////*/

    >*+* {
        padding-top: 30px;
    }

    >*:first-child {
        margin-top: 0;
    }
    
    /* empty tag*/
    /*/////////////////////////// */

    p:empty {
        display: none;
    }

    /* heading*/
    /*/////////////////////////// */
    h1 {}
    
    h2 {}

    h3 {}

    h4 {}

    h5 {}

    h6 {}

    /* list*/
    /*/////////////////////////// */

    ol,
    ul {
        padding-left: 1.4em;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }
}

/* ==========================================================================
    #MODIFIER
========================================================================== */
