/* ==========================================================================
    #CONFIG
==========================================================================  */

$is-dev: '.is-dev';

/* ==========================================================================
    #FOLDER
==========================================================================  */

$folder-fonts: '../fonts/';
$folder-images: '../images/';
$folder-svg: '../svg/';
$icomoon-font-path: $folder-fonts;
$folder-node-modules: '../../node_modules/';

/* ==========================================================================
    #TYPOGRAPHY
==========================================================================  */

$body-font-size: 10px;

/* font-family */
/*///////////////////////////*/
$montserrat: 'Montserrat', sans-serif;
$baskerville: 'Libre Baskerville', serif;

/* type */
/*///////////////////////////*/
$font-heading: $baskerville;
$font-heading-line-height: 1.4;
$font-text: $montserrat;
$font-text-line-height: 1.4;

/* style */
/*///////////////////////////*/
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 700;

/* heading */
/*///////////////////////////*/
$map-font-sizes-heading: (
'h1': 60px,
'h2': 40px,
'h3': 32px,
'h4': 20px,
'h5': 26px,
'h6': 22px
);

$map-font-sizes-heading-mobile: (
'h1':  40px,
'h2':  32px,
'h3':  30px,
'h4':  28px,
'h5':  26px,  
'h6':  20px 
);

/* text */
/*///////////////////////////*/
$map-font-sizes-text: (
't1': 30px,
't2': 24px,
't3': 20px,
't4': 18px,
't5': 16px,
't6': 12px,
);

$map-font-sizes-text-mobile: (
't1': 24px,
't2': 20px,
't3': 18px,
't4': 16px,
't5': 14px,
't6': 12px,
);

/* ==========================================================================
    #COLORS
==========================================================================  */

$white: white;
$black: black;

/* Typo */
/*///////////////////////////*/
$color-text: $black;
$color-heading: $black;

/* State */
/*///////////////////////////*/
$color-valid: green;
$color-error: red;
$color-warning: yellow;

/* Text selection */
/*///////////////////////////*/
$text-selection-color: $black;
$text-selection-bg: #b3d4fc;

/* ==========================================================================
    #FORM
==========================================================================  */

$form-border-width: 0;
$form-border-color: #ccc;
$form-border-radius: 0;
$form-input-height: 40px;
$form-input-color: #5a5657;
$form-input-bgcolor: #e6e1db;
$form-input-placehoder-color: #888;
$form-input-padding-x: 12px;
$form-input-padding-y: 8px;

/* ==========================================================================
    #MEDIA-QUERIES
==========================================================================  */

/* breakpoints (include-media) */
/*///////////////////////////*/
$breakpoints: (
'small':   320px,
'phone':   520px,
'tablet':  800px,
'desktop': 1024px,
'large':   1440px  
);
$desktop-first-breakpoints: reverse($breakpoints);   

/* ==========================================================================
    #CONTAINER
==========================================================================  */

$map-containers: (
'mini':      320px,
'tiny':      600px,
'small':     700px,
'medium':    900px,
'large':     960px,
'big':       1100px,
'max':       1200px,
'outer-max': 1920px,
'full':      100%,  
);

/* ==========================================================================
    #PADDING
==========================================================================  */
$padding-mobile: 30px;
$padding-tablet: 40px;
$padding-desktop: 60px;

/* ==========================================================================
    #GRID (lost)
==========================================================================  */

$lost-gutter: 20px;
$lost-rounder: 99.99999;
$lost-rounder-with-unit: #{$lost-rounder+'%'};
$lost-grid-columns: 12;
$lost-gutter-desktop: 20px;
$lost-gutter-tablet: 20px;
$lost-gutter-phone: 20px;

@lost gutter 0;
@lost flexbox flex;
@lost cycle none;
@lost clearing left;
@lost rounder #{$lost-rounder};

/* ==========================================================================
    #Z-INDEX
==========================================================================  */

$z-sticky-nav: 100;
$z-mobile-nav: 100;
$z-modal: 1000;
$z-site-option: 1001;

/* ==========================================================================
    #TRANISTION
==========================================================================  */

$transition-speed-slow: 0.6s;
$transition-speed-medium: 0.3s;
$transition-speed-fast: 0.1s;


