a {
    @if $toto==true {
        $toto: #44f;
    }

    $toto: '.test';
    top: 0;
    left: 0;

    display: inline;
    padding: 1em;
    padding-top: 1em;
    padding-left: 2em;

    color: pink;
    font-weight: bold;
    font-size: 2px;

    background: orange;

    @include media('>tablet') {
        padding-top: 1em;
        padding-left: 2em;

        background: red;
    }

    @include media('>mobile') {
        padding-top: 1em;
        padding-left: 2em;

        background: red;
    }
}
