/* ==========================================================================
    #CENTER
========================================================================== */

@mixin center() {
    margin-right: auto;

    margin-left: auto;
}

/* ==========================================================================
    #CENTER-BLOCK
========================================================================== */

@mixin center-block() {

    display: block;

    margin-right: auto;

    margin-left: auto;
}
