/* ==========================================================================
    #TRANSITION
========================================================================== */

/* transition-fade-in*/
@mixin transition-fade-in( $opacity : 0.8, $speed : $transition-speed-medium, $easing : linear ) {

    opacity: 0;

    transition: opacity $speed $easing;

    &:hover {
        opacity: $opacity;
    }
}

/* transition-fade-out*/
@mixin transition-fade-out( $opacity : 0.8, $speed : $transition-speed-medium, $easing : linear ) {

    opacity: $opacity;

    transition: opacity $speed $easing;

    &:hover {
        opacity: 0;
    }
}
